<html ng-app="SwApp" ng-cloak xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/docs.css">
    </head>
<body layout="row" class="layout-row">
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">



    <md-content>
        <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
            <div class="docs-toolbar-tools md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
                    <md-icon md-svg-icon="img/icons/ic_menu_black_24px.svg"></md-icon>
                </md-button>
                <h2>
                    <span>Go Test Site</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <br>
        </md-content>

<section layout="column" role="main" flex>

    <section layout="row" flex>



        <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope"
                    md-component-id="left"
                    md-is-locked-closed="$mdMedia('gt-sm')" tabindex="-1">

<!--
        <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                    md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-sm')"> -->





            <md-toolbar>
                <h1 class="md-toolbar-tools menu-heading md-subhead">Logo goes here</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl" flex role="navigation">
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <h3 class="md-toolbar-tools menu-heading md-subhead">

                    Menu Options.
                </h3>
            </md-content>


            <md-list class="md-toolbar-tools menu-heading md-subhead">
                <md-list-item >
                    <md-button>
                        Lia Luogo
                    </md-button>
                </md-list-item>
                <md-list-item >
                    <md-button>
                        <md-icon md-svg-src="./assets/svg/avatar-4.svg" class="avatar"></md-icon>
                        Lawrence Ray
                    </md-button>
                </md-list-item>
            </md-list>


        </md-sidenav>



</section>


        <!-- Start Page Content here -->

        <section id="content" role="content" layout="column" layout-padding md-scroll-n flex>
            <md-content class="md-whiteframe-z2" ng-cloak>


                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Jultan</span>
                            <span class="md-subhead">Dark Warewolf</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                    </md-card-title>

                </md-card>








                    <md-divider></md-divider>

                    <md-list class="md-toolbar-tools menu-heading md-subhead">
                        <md-list-item >
                            <md-button>
                                Lia Luogo
                            </md-button>
                        </md-list-item>
                        <md-list-item >
                            <md-button>
                                <md-icon md-svg-src="./assets/svg/avatar-4.svg" class="avatar"></md-icon>
                                Lawrence Ray
                            </md-button>
                        </md-list-item>
                    </md-list>








            </md-content>
        </section>
</section>


</div>









<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="js/app.js"></script>
<!-- Your application bootstrap  -->
<script type="text/javascript">
    /**
     * You must include the dependency on 'ngMaterial'
     */
    angular.module('SwCtrl', ['ngMaterial']);
</script>

</body>
</html>