

<?php







// Create connection
$con=mysqli_connect("localhost","root","020408dcm","mons");

// Check connection
if (mysqli_connect_errno())
  {
  echo "Failed to connect to MySQL: " . mysqli_connect_error();
  }

  $result = mysqli_query($con,"SELECT * FROM mon_table");
// SELECT COUNT(DISTINCT column_name) FROM table_name;



  $account = $_POST["account"];
    $mon = $_POST["mon"];
    $rune = $_POST["rune"];
    $stars = $_POST["stars"];
    $title = $_POST["title"];
    $sub = $_POST["sub"];



<!-- /.container -->