



        <!-- Collect the nav links, forms, and other content for toggling -->
        <div >
            <ul class="menu_text menu-li-bg">

                <li><a ui-sref="covered">Coverage Demo</a>
                </li>
                <li><a ui-sref="mons">Mons out</a>
                </li>
                <li><a ui-sref="db">Mons out - json</a>
                </li>
                <li><a ui-sref="template">Template</a>
                </li>
                <li><a ui-sref="new-qs({ monName: 'Randy' })">Template</a>
                </li>
                <li><a ui-sref="new-qs({ monName: 'Chow' })">Template</a>
                </li>
            </ul>




        </div>
        <!-- /.navbar-collapse
        {{project.Name}}
project in projects | filterBy: ['Attribute']: 'Fire'
        <a ui-sref="Mon({postId: (project.Name | myFilter), postTitle: (project.Stars | myFilter)})"</a>

        <a ui-sref="customer.edit({id: customer.id})" href="#/edit/6"><button class="btn  btn-success">View</button></a>

        <li><a href="#/services">Card Demo</a>
        </li> -->
    <!-- /.container   <a ui-sref="covered">Coverage Demo</a> -->

